# Files and directories created by pub
.dart_tool/
.packages
build/
!extension/devtools/build/
pubspec.lock

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.iml

# FVM Version Cache
.fvm/

# Coverage
coverage/
doc/api/
review.MD